
{% extends "base.html" %}
{% block title %}Experience{% endblock %}
{% block content %}
<h1 class="text-center">My Experience </h1>
<h4>IN4.0 Group- Graduate Intern</h4>
<p>JULY 2020- SEPTEMBER 2020
    Joined the 2020 cohort of the IN4.0 Talent Academy.
    12-week intensive course covering topics such as AWS Cloud Computing, Internet of Things, Python, as well as personal development.
    Completed an Industrial Project for BAE Systems.
</p>

<h4>QA Ltd- CyberFirst Technical Facilitator</h4>
<p>FEBRUARY 2020
    Facilitating a one-day event wherein young people participate in a series of technical challenges.
    Provide support to students and encourage them to pursue a career in the cyber sector
</p>

<h4>University of Central Lancashire- Volunteer Mentor</h4>
<p>
    NOVEMBER 2018 - MARCH 2019
    Attend year 2 engineering mathematics lectures and aid students in class work.
    Provide support to a student across a range of first year modules.
</p>

<h4>Eggfree Cake Box - Food Preparation</h4>
<p>
    JULY 2018 - SEPTEMBER 2018
    Prepare goods to be sold, working quickly but ensuring work is of a high quality.
    Maintain strict hygiene standards and keep shop floor free of contaminants.
</p>

{% endblock %}