<!--{% extends "base.html" %}-->
<!--{% block title %}Homepage {% endblock %}-->
<!--{% block content %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title class="display-1"> Aminah Ahmed </title>
</head>
<body class="p-3 mb-2 bg-info text-white">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<ul class="nav text-centre p-3 mb-2 bg-dark text-white">
  <li class="nav-item">
    <a class="nav-link active" href="http://127.0.0.1:5000">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/experience/ ">Experience </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/achievements/ "> Achievements</a>
  </li>
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" href="http://127.0.0.1:5000/">Login</a>-->
<!--  </li>-->

</ul>




<!--<body class="p-3 mb-2 bg-info text-white">-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<ul class="nav text-centre p-3 mb-2 bg-dark text-white">
  <li class="nav-item">
    <a class="nav-link active" href="http://127.0.0.1:5000">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/experience/ ">Experience </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:5000/achievements/ "> Achievements</a>
  </li>
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" href="http://127.0.0.1:5000/">Login</a>-->
<!--  </li>-->

</ul>




<h1 class="text-center">Aminah Ahmed </h1>
<h2>Profile </h2>
<p> I am a recent graduate with a 1:1 in a Master’s degree in Aerospace Engineering.
    I have a keen interest in emerging technologies, particularly in their use for the enhancement of everyday life.
    It is for this reason; I would like to pursue a career in a pioneering company which challenges the status quo.
    I am competent in using CAD software such as Solidworks and Ansys. I also have experience in Python and currently working on
    developing my skills in web development.</p>

<h2>Academic Background</h2>
<p> UNIVERSITY OF CENTRAL LANCASHIRE 2016-2020
    MEng (Hons) Aerospace Engineering: First Class
</p>

<h2>Hobbies/Interests</h2>
<p> I have a range of hobbies. I am an avid baker and have experience working in a cake shop as a decorator.
    I also enjoy spending time outdoors and walking the picturesque local routes.
    I am somewhat of a zumba enthusiast and also partial to playing squash.
</p>

<img src="{{url_for('static', filename='image1.jpg')}}" class="img-fluid" alt="Responsive image" "/>


{